p {
    color: darkblue;
    font-size: 14px;
}

h2 {
    color: black;
    font-size: 18px;
}

table, td, th {
    border-style: solid;
    border-color: crimson;
}

p#special-one {
    color: purple;
    font-size: 2em;
}

h1.header {
    color: darkgreen;
}

img.logo {
    width: 267px;
    length: 72px;
}

