p {
    color: darkblue;
    font-size: 14px;
}

/* Setting block rules for h2, specifically color and font size */
h2 {
    color: black;
    font-size: 18px;
}

/* Setting block rules for tables, specifically border style and color */
table, td, th {
    border-style: solid;
    border-color: crimson;
}

p#special-one {
    color: purple;
    font-size: 2em;
}

h1.header {
    color: darkgreen;
}

/* Setting image width and height for logo */
img.logo {
    width: 267px;
    height: 72px;
}

