<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
    <link href="/Static/css/style.css" rel="stylesheet">
</head>
<body>
    <!-- Setting class for header with rules -->
    <h1 class="header">About Roy Ad</h1>
    <h2>College I Attend:</h2>
    <p>The <strong> University of Maryland </strong>, Robert H. Smith School of Business</p>
    <!--Inserting school logo into my website with rule block-->
    <img class="logo" src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" alt="Smith Logo">
    <h2>Year of College:</h2>
    <p>I am a <strong>Senior</strong></p>
    <h2>Major:</h2>
    <p>Majoring in <em>Information Systems</em> and <em>Marketing</em></p>
    <h2>My goals for college:</h2>
    <!-- Creating an unordered lists of my goals for college-->
    <ul>
        <li>Be a good person</li>
        <li>Get good grades</li>
        <li>Make five friends</li>
    </ul>
    <h2>My <em>most</em> important classes</h2>
    <!-- Creating an ordered list of my most important classes -->
    <ol>
        <li>BMGT301</li>
        <li>BMGT302</li>
        <li>BMGT350</li>
        <li>BMGT407</li>
    </ol>
    <h2>When I took my most important classes:</h2>
    <!-- Creating a table to display my most important classe -->
    <table>
        <tr>
            <th>Course</th>
            <th>Semester Taken</th>
        </tr>
        <tr>
            <td>BMGT301</td>
            <td>Fall, 2022</td>
        </tr>
        <tr>
            <td>BMGT302</td>
            <td>Fall, 2023</td>
        </tr>
        <tr>
            <td>BMGT350</td>
            <td>Fall, 2022</td>
        </tr>
        <tr>
            <td>BMGT407</td>
            <td>Spring, 2024</td>
        </tr>
    </table>

    <!-- Adding id attribute into paragraph -->
    <p id="special-one">My favorite activities: Basketball, Guitar, and Reading</p>

    <p>Here is a link to my <a href="/hello">Hello Page</a>.</p>
    <p>Here is a link to my favorite website<a href="https://www.amazon.com/"> Amazon.com</a>.</p>
    <p>Here is a link to my second favorite website<a href="https://shop.bombas.com/" target="_blank"> Bombas.com</a>.</p>
</body>
</html>